.show {
    display: flex;
    transition: 0ms;
    opacity: 1;
    position: fixed;
    top: 25%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.show.active {
    transform: translateY(100px) scale(0);
    opacity: 0;
    z-index: 2;
}

.bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 1;
}

.close-button {
    z-index: 2;
    padding: 1px;
    margin-left: 50%;
    height: 0;
    width: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.close-button button {
    border: none;
    margin: none;
    padding: none;
    background: none;
}

.close-button img {
    width: 24px;
    height: 24px;
}

.close-button img:hover {
    cursor: pointer;
}

.container {
    z-index: 2;
    margin: 0;
    padding: 0;
    width: 48%;
    height: 50%;
    border-radius: 15px;
    background-color: #FFFFFF;
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 24px 0px #00000040;
}

.top-bar {
    z-index: 2;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: #EFFFF4;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: center;
}

.top-bar p {
    z-index: 2;
    font-size: 14px;
    font-weight: 500;
    color: #008A45;
}


.headings {
    z-index: 2;
    display: flex;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.headings h1 {
    z-index: 2;
    font-size: 24px;
    font-weight: 700;
    width: 50%;
}

.headings p {
    z-index: 2;
    font-size: 14px;
    font-weight: 600;
    color: #3D3D3D;
}

.headings button {
    z-index: 2;
    font-size: 14px;
    font-weight: 600;
    color: #2F6CE5;
    background: none;
    border: none;
}

.headings button:hover {
    cursor: pointer;
    color: #8aa9e7;
}

.box {
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-left: 9%;
    padding-right: 5%;
}

.login-form {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    border: none;
}

.row {
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.row input {
    z-index: 2;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: 1px solid #D9D9DB;
    background: #F7F8FA;
    color: #8A8A8A;
    font-size: 10px;
    font-weight: 500;
    outline: none;
}

.half {
    z-index: 2;
    width: 50%;
    display: flex;
}

.row button[type=reset] {
    display: none;
    z-index: 2;
    font-size: 14px;
    font-weight: 600;
    color: #2F6CE5;
    background: none;
    border: none;
}

.row button:hover {
    cursor: pointer;
    color: #8aa9e7;
}

.row button[type=submit] {
    z-index: 2;
    flex: 1;
    margin-top: 10%;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background: #2F6CE5;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.row button[type=submit]:hover {
    background: #29b0c2;
}

.row button[type=button] {
    z-index: 2;
    margin-top: 5%;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background: #FFFFFF;
    border: 0.6px solid #D9D9DB;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
}

.row button[type=button]:hover {
    background: #8A8A8A;
    color: #FFFFFF;
}


.row img {
    z-index: 2;
    align-self: center;
    width: 11px;
    height: 11px;
    padding: 0;
    margin-right: 2%;
}

.box img[type=poster] {
    z-index: 2;
    width: 100%;
    height: inherit;
}

.headings-close-button {
    display: none;
    opacity: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.headings-close-button button {
    border: none;
    margin: none;
    padding: none;
    background: none;
}

.headings-close-button img {
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
}

.row p {
    display: none;
}

@media (max-width: 991px) {

    /* Styles for screens up to 991px */
    .close-button {
        margin-left: 60%;
    }

    .container {
        width: 60%;
    }

    .headings h1 {
        font-size: 20px;
    }

    .row input {
        font-size: 12px;
    }

    .row button {
        font-size: 12px;
    }
}

@media (max-width: 768px) {

    /* Styles for screens up to 768px */
    .close-button {
        margin-left: 70%;
    }

    .container {
        width: 70%;
    }

    .headings h1 {
        font-size: 18px;
    }

    .row input {
        font-size: 14px;
    }

    .row button {
        font-size: 14px;
    }
}

@media (max-width: 576px) {

    /* Styles for screens up to 576px */
    .close-button {
        margin-left: 80%;
    }

    .container {
        width: 80%;
    }

    .headings h1 {
        font-size: 16px;
    }

    .row input {
        font-size: 16px;
    }

    .row button {
        font-size: 16px;
    }
}

@media (max-width: 480px) {

    /* Styles for screens up to 480px */
    .close-button {
        margin-left: 90%;
    }

    .container {
        width: 90%;
    }

    .headings h1 {
        font-size: 14px;
    }

    .row input {
        font-size: 18px;
    }

    .row button {
        font-size: 18px;
    }
}

@media (max-width: 412px) {

    /* Styles for screens up to 480px */
    .close-button {
        margin-left: 90%;
    }

    .container {
        position: fixed;
        width: 412px;
        height: 80%;
        left: 0;
        bottom: 0;
    }

    .top-bar {
        display: none;
    }

    .headings h1 {
        flex: 1;
        margin-left: 12px;
        font-size: 23px;
    }

    .headings button[type=button] {
        display: none;
    }

    .close-button {
        display: none;
        opacity: 0;
    }

    .headings-close-button {
        display: block;
        opacity: 1;
    }

    .headings p {
        display: none;
    }

    .box img[type=poster] {
        display: none;
    }

    .row {
        margin: 0 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .row input {
        font-size: 13px;
    }

    .row button[type=submit] {
        margin: 22px 0;
    }

    .row button[type=reset] {
        flex: 1;
        display: block;
        margin: 22px 0;
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 17px;
        text-align: right;
        text-decoration-line: underline;
        color: #495057;
    }

    .row button[type=button] {
        margin: 0;
        margin-bottom: 12px;
    }

    .row p {
        display: block;
        color: #212529;
        font-family: 'IBM Plex Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
    }
}

@media (max-width: 360px) {

    /* Styles for screens up to 480px */
    .close-button {
        margin-left: 90%;
    }

    .container {
        position: fixed;
        width: 360px;
        height: 575px;
        left: 0;
        bottom: 0;
    }

    .top-bar {
        display: none;
    }

    .headings h1 {
        flex: 1;
        margin-left: 12px;
        font-size: 23px;
    }

    .headings button[type=button] {
        display: none;
    }

    .close-button {
        display: none;
        opacity: 0;
    }

    .headings-close-button {
        display: block;
        opacity: 1;
    }

    .headings p {
        display: none;
    }

    .box img[type=poster] {
        display: none;
    }

    .row {
        margin: 0 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .row input {
        font-size: 13px;
    }

    .row button[type=submit] {
        margin: 22px 0;
    }

    .row button[type=reset] {
        flex: 1;
        display: block;
        margin: 22px 0;
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 17px;
        text-align: right;
        text-decoration-line: underline;
        color: #495057;
    }

    .row button[type=button] {
        margin: 0;
        margin-bottom: 12px;
    }

    .row p {
        display: block;
        color: #212529;
        font-family: 'IBM Plex Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
    }
}