.header {
    margin: 72px;
    padding: 0;
    z-index: -1;
}

.header img {
    z-index: -1;
    filter: brightness(50%);
    position: absolute;
    width: 100%;
    height: 440px;
    left: 0px;
    top: 72px;
}

.header-titles {
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #FFFFFF;
    position: absolute;
    top: 358px;
    left: 13.88%;
}

.heading1 {
    z-index: -1;
    font-size: 36px;
    font-weight: 700;
}

.heading2 {
    z-index: -1;
    font-size: 18px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .header {
        margin: 40px;
    }

    .header img {
        height: 300px;
        top: 40px;
    }

    .header-titles {
        top: 250px;
        left: 10%;
    }

    .heading1 {
        font-size: 28px;
    }

    .heading2 {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        margin: 20px;
    }

    .header img {
        height: 200px;
        top: 20px;
    }

    .header-titles {
        top: 150px;
        left: 5%;
    }

    .heading1 {
        font-size: 24px;
    }

    .heading2 {
        font-size: 14px;
    }
}

@media screen and (max-width: 412px) {
    .header {
        width: 412px;
        left: 0;
    }

    .header img {
        height: 200px;
        width: 412px;
        top: 20px;
    }

    .header-titles {
        top: 150px;
        left: 5%;
    }

    .heading1 {
        font-size: 24px;
    }

    .heading2 {
        font-size: 14px;
    }
}

@media screen and (max-width: 360px) {
    .header {
        width: 360px;
        left: 0;
    }

    .header img {
        height: 200px;
        width: 360px;
        top: 20px;
    }

    .header-titles {
        top: 150px;
        left: 5%;
    }

    .heading1 {
        font-size: 24px;
    }

    .heading2 {
        font-size: 14px;
    }
}